/*
    Home Styles:
        Defines stylesheets specifically relating to homepage.

    Dependencies:
        _variables.scss
*/

.home-group {
    margin: 0 0 15px 0;

    // Reset:
    .card, ul {
        margin: 0;
        padding: 0;
    }
}

.home-group-heading {
    display: block;
    margin: 0 0 15px 0;
    padding: 10px 0;
    font-size: 1.5em;
    border-bottom: 1px solid map-get($colors, light-border);
}